<div nz-row nzGutter="16" class="pad-20">

  <div nz-col nzSpan="24" nzXs="6">
    <label>Năm</label><br>
    <nz-select class="w-100" [(ngModel)]="nam.canId" nzPlaceHolder="Can" [nzShowArrow]="false">
      <nz-option *ngFor="let can of listCan" [nzLabel]="can.name" [nzValue]="can.id"></nz-option>
    </nz-select><br>
    <nz-select class="w-100" [(ngModel)]="nam.chiId" nzPlaceHolder="Chi" [nzShowArrow]="false">
      <nz-option *ngFor="let chi of listChi" [nzLabel]="chi.name" [nzValue]="chi.id"></nz-option>
    </nz-select>
  </div>

  <div nz-col nzSpan="24" nzXs="6">
    <label>Tháng</label><br>
    <nz-select class="w-100" [(ngModel)]="thang.canId" nzPlaceHolder="Can" [nzShowArrow]="false">
      <nz-option *ngFor="let can of listCan" [nzLabel]="can.name" [nzValue]="can.id"></nz-option>
    </nz-select><br>
    <nz-select class="w-100" [(ngModel)]="thang.chiId" nzPlaceHolder="Chi" [nzShowArrow]="false">
      <nz-option *ngFor="let chi of listChi" [nzLabel]="chi.name" [nzValue]="chi.id"></nz-option>
    </nz-select>
  </div>

  <div nz-col nzSpan="24" nzXs="6">
    <label>Ngày</label><br>
    <nz-select class="w-100" [(ngModel)]="ngay.canId" nzPlaceHolder="Can" [nzShowArrow]="false">
      <nz-option *ngFor="let can of listCan" [nzLabel]="can.name" [nzValue]="can.id"></nz-option>
    </nz-select><br>
    <nz-select class="w-100" [(ngModel)]="ngay.chiId" nzPlaceHolder="Chi" [nzShowArrow]="false">
      <nz-option *ngFor="let chi of listChi" [nzLabel]="chi.name" [nzValue]="chi.id"></nz-option>
    </nz-select>
  </div>

  <div nz-col nzSpan="24" nzXs="6">
    <label>Giờ</label><br>
    <nz-select class="w-100" [(ngModel)]="gio.canId" nzPlaceHolder="Can" [nzShowArrow]="false">
      <nz-option *ngFor="let can of listCan" [nzLabel]="can.name" [nzValue]="can.id"></nz-option>
    </nz-select><br>
    <nz-select class="w-100" [(ngModel)]="gio.chiId" nzPlaceHolder="Chi" [nzShowArrow]="false">
      <nz-option *ngFor="let chi of listChi" [nzLabel]="chi.name" [nzValue]="chi.id"></nz-option>
    </nz-select>
  </div>

  <div nz-col nzSpan="24" nzXs="24">
    <hr>
  </div>

  <div nz-col nzSpan="24" nzXs="24" class="text-center">
    <button nz-button type="button" nzType="primary" class="w-100" (click)="calcElement()">Tính</button>
  </div>

  <div nz-col nzSpan="24" nzXs="24" *ngIf="result.status">
    <hr>
  </div>

  <div nz-col nzSpan="24" nzXs="24" *ngIf="result.status === 1">
    Nhật chủ: <b>{{ getNhatChu() }}</b><br>

    <div style="display: block">
      <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="'radar'" [legend]="false"></canvas>
    </div>

    Kim: {{result.kim}} / 120<br>
    Thuỷ: {{result.thuy}} / 120<br>
    Mộc: {{result.moc}} / 120<br>
    Hoả: {{result.hoa}} / 120<br>
    Thổ: {{result.tho}} / 120<br>
  </div>

  <div nz-col nzSpan="24" nzXs="24" *ngIf="result.status === 2">
    <h3>Đầu vào chưa đủ!</h3>
  </div>

</div>
