<div nz-row nzGutter="16" class="pad-20">

  <div nz-col nzSpan="24" nzXs="6">
    <label>Năm sinh</label><br>
    <nz-select class="w-100" [(ngModel)]="nam.canId" nzPlaceHolder="Chọn" nzShowSearch [nzShowArrow]="false">
      <nz-option *ngFor="let can of listCan" [nzLabel]="can.name" [nzValue]="can.id"></nz-option>
    </nz-select><br>
    <nz-select class="w-100" [(ngModel)]="nam.chiId" nzPlaceHolder="Chọn" nzShowSearch [nzShowArrow]="false">
      <nz-option *ngFor="let chi of listChi" [nzLabel]="chi.name" [nzValue]="chi.id"></nz-option>
    </nz-select>
  </div>

  <div nz-col nzSpan="24" nzXs="6">
    <label>Tháng sinh</label><br>
    <nz-select class="w-100" [(ngModel)]="thang.canId" nzPlaceHolder="Chọn" nzShowSearch [nzShowArrow]="false">
      <nz-option *ngFor="let can of listCan" [nzLabel]="can.name" [nzValue]="can.id"></nz-option>
    </nz-select><br>
    <nz-select class="w-100" [(ngModel)]="thang.chiId" nzPlaceHolder="Chọn" nzShowSearch [nzShowArrow]="false">
      <nz-option *ngFor="let chi of listChi" [nzLabel]="chi.name" [nzValue]="chi.id"></nz-option>
    </nz-select>
  </div>

  <div nz-col nzSpan="24" nzXs="6">
    <label>Ngày sinh</label><br>
    <nz-select class="w-100" [(ngModel)]="ngay.canId" nzPlaceHolder="Chọn" nzShowSearch [nzShowArrow]="false">
      <nz-option *ngFor="let can of listCan" [nzLabel]="can.name" [nzValue]="can.id"></nz-option>
    </nz-select><br>
    <nz-select class="w-100" [(ngModel)]="ngay.chiId" nzPlaceHolder="Chọn" nzShowSearch [nzShowArrow]="false">
      <nz-option *ngFor="let chi of listChi" [nzLabel]="chi.name" [nzValue]="chi.id"></nz-option>
    </nz-select>
  </div>

  <div nz-col nzSpan="24" nzXs="6">
    <label>Giờ sinh</label><br>
    <nz-select class="w-100" [(ngModel)]="gio.canId" nzPlaceHolder="Chọn" nzShowSearch [nzShowArrow]="false">
      <nz-option *ngFor="let can of listCan" [nzLabel]="can.name" [nzValue]="can.id"></nz-option>
    </nz-select><br>
    <nz-select class="w-100" [(ngModel)]="gio.chiId" nzPlaceHolder="Chọn" nzShowSearch [nzShowArrow]="false">
      <nz-option *ngFor="let chi of listChi" [nzLabel]="chi.name" [nzValue]="chi.id"></nz-option>
    </nz-select>
  </div>

  <div nz-col nzSpan="24" nzXs="24">
    <hr>
  </div>

  <div nz-col nzSpan="24" nzXs="24" class="text-center">
    <button nz-button type="button" nzType="primary" class="w-100" (click)="calcElement()">Tính</button>
  </div>

  <div nz-col nzSpan="24" nzXs="24" *ngIf="result.status">
    <hr>
  </div>

  <div nz-col nzSpan="24" nzXs="24" *ngIf="result.status === 1">
    Nhật chủ: <b>{{ getNhatChu() }}</b><br>
    Kim: {{result.kim}} / 120 <nz-progress nzStrokeColor="gray" [nzPercent]="divPercent(result.kim, 120)"></nz-progress>
    Thuỷ: {{result.thuy}} / 120 <nz-progress nzStrokeColor="blue" [nzPercent]="divPercent(result.thuy, 120)"></nz-progress>
    Mộc: {{result.moc}} / 120 <nz-progress nzStrokeColor="green" [nzPercent]="divPercent(result.moc, 120)"></nz-progress>
    Hoả: {{result.hoa}} / 120 <nz-progress nzStrokeColor="red" [nzPercent]="divPercent(result.hoa, 120)"></nz-progress>
    Thổ: {{result.tho}} / 120 <nz-progress nzStrokeColor="orange" [nzPercent]="divPercent(result.tho, 120)"></nz-progress>
  </div>

  <div nz-col nzSpan="24" nzXs="24" *ngIf="result.status === 2">
    <h3>Đầu vào chưa đủ!</h3>
  </div>

</div>
